@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.bg-texture {
  background-image: url("https://images.unsplash.com/photo-1605184861733-be9f5814095e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=995&q=80");
}
.Header {
  height: 90px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0.5px 0.5px 1.5px grey;
}
.leftnav h3 {
  font-size: 18px;
  margin-left: 70px;
  text-transform: uppercase;
}

.navlinksBar {
  margin-right: 25px;
}
.navlinks {
  text-decoration: none;
  color: black;
  margin: 4px;
  padding: 8px;
  text-transform: uppercase;
  font-weight: lighter;
}
.rightdiv {
  margin-right: 60px;
}
.nav-icons {
  text-decoration: none;
  margin: 4px;
  padding: 4px;
  color: black;
  font-weight: 100;
}
.fit {
  height: 500px;
  width: 100%;
  background-image: url("https://www.dukan.pk/demo//dtemp/bannerImage1694519463-73422969575848.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  color: white;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Order-btn {
  margin-top: 20%;
  background-color: rgb(206, 12, 12);
  color: white;
  padding: 17px 39px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
