@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  /* text-transform: capitalize; */
  transition: all 0.2s linear;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
body {
  scroll-behavior: smooth;
  background: #f7f7f7;
}
section {
  padding: 2rem 9%;
}
.bg-texture {
  background-image: url("https://images.unsplash.com/photo-1605184861733-be9f5814095e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=995&q=80");
}
.Header {
  /* height: 70px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0.5px 0.5px 2.5px gray; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 0.1rem 0.5%;
  height: 80px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.leftnav img {
  margin-left: 35px;
  width: 120px;
  height: 120px;
  background-blend-mode: lighten;
}

.navlinksBar {
  margin-right: 25px;
}
.navlinks {
  text-decoration: none;
  color: #666;
  margin: 4px;
  padding: 8px;
  text-transform: uppercase;
  font-weight: 700;
}
.navlinks:hover {
  color: #fac031;
}
.navlinks:active {
  color: #fac031;
}
.rightdiv {
  margin-right: 60px;
}
.nav-icons {
  background-color: #fac031;
  border-radius: 50%;
  text-decoration: none;
  margin: 4px;
  padding: 10px;
  color: white;
  font-weight: 100;
  width: 300px;
}
.social-icons {
  background-color: #fac031;
  border-radius: 50%;
  text-decoration: none;
  margin: 4px;
  padding: 10px;
  color: white;
  font-weight: 100;
  cursor: pointer;

  /* width: 300px; */
}
.footer-icons {
  background-color: white;
  border-radius: 50%;
  text-decoration: none;
  margin: 4px;
  padding: 10px;
  color: #fac031;
  font-weight: 100;
  cursor: pointer;
  /* width: 300px; */
}
.fit {
  height: 500px;
  width: 100%;
  background-image: url("https://www.dukan.pk/demo//dtemp/bannerImage1694519463-73422969575848.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
  color: black;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Order-btn {
  margin-top: 20%;
  background-color: rgb(206, 12, 12);
  color: white;
  padding: 17px 39px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
/* home */
.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background-image: url(home-bg.jpg);
  background-size: cover;
  background-image: center;
  padding: 0 70px;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 6rem;
  color: #e0dfdd;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
  padding: 2.5rem;
  animation: float 3s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(3rem);
  }
}

.home .content h3 {
  font-size: 3rem;
  color: black;
  text-transform: capitalize;
  font-weight: bold;
}

.home .content p {
  font-size: 1rem;
  color: #787777;
  padding: 1rem 0;
}

/* btn */
.btnn {
  display: inline-block;
  padding: 0.5rem 2rem;
  border: 0.1rem solid #fac031;
  color: #fac031;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}
.btnn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: #fac031;
  transition: 0.3s linear;
  z-index: -1;
}
.btnn:hover::before {
  width: 100%;
  left: 0;
}
.btnn:hover {
  color: #fff;
}
.signup {
  background: #fac031;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  color: white;
}
.signup:hover {
  background: transparent;
  padding: 0.5rem 2rem;
  border: 2px solid #fac031;
  border-radius: 0.5rem;
  color: grey;
}
.logout {
  background: transparent;
  padding: 0.5rem 2rem;
  border: 2px solid #fac031;
  border-radius: 0.5rem;
  color: grey;
  font-size: 17px;
}
.logout:hover {
  background: #fac031;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  color: white;
}
/* Speciality section */
.speciality {
  background: #f7f7f7;
}
.heading {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  color: #666;
}
.heading span {
  color: red;
}
.speciality .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.speciality .box-container .box {
  flex: 1 1 20rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.5rem 0.9rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 0.5rem;
}
.speciality .box-container .box .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
}
.speciality .box-container .box .content {
  text-align: center;
  background: #fff;
  padding: 1rem;
}
/* .speciality .box-container .box .content img {
  margin: 1.5rem 0;
} */
.speciality .box-container .box .content h3 {
  font-size: 1.5rem;
  color: #333;
}
.speciality .box-container .box .content p {
  font-size: 1rem;
  color: #666;
  padding: 1rem 0;
}
.speciality .box-container .box:hover .image {
  top: 0;
}
.speciality .box-container .box:hover .content {
  transform: translateY(100%);
}
/* steps */
.steps {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 0.5rem 2rem;
}
.steps .box {
  margin-top: 26px;
  flex: 1 1 1.5rem;
  padding: 1.5rem 0.5rem;
  text-align: center;
}
.steps .box img {
  margin-left: 29px;
  border-radius: 50%;
  border: 1rem solid #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.steps .box h3 {
  font-size: 1.5rem;
  color: black;
  text-transform: capitalize;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
}
ul {
  margin: 0px;
  padding: 0px;
}
/* footer here */
.site-footer {
  background-color: #fac031;
  color: white;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: black;
}
.site-footer hr {
  border-top-color: white;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: white;
  font-size: 19px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: white;
}
.site-footer a:hover {
  color: black;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
  color: white;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: black;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #fac031;
  text-decoration: none;
}

.summary {
  background-color: #f1ebdc;
  padding: 30px;
}

.food-detail {
  background-color: white;
  padding: 50px;
  margin: 40px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.5px 1.5px 5.5px gray;
}
.food-detail img {
  width: 400px;
  height: 400px;
}

.detail h2 {
  font-size: 44px;
  font-weight: bold;
}
.detail .price {
  font-size: 18px;
  color: green;
  letter-spacing: 2px;
}
.detail p {
  font-size: 20px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px 70px;
}
.contact-heading {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.input-form {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

.input-form.error {
  border-color: #ff0000;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #45a049;
}

.storymaindiv {
  height: 400px;
  background-image: url("https://images.pexels.com/photos/1199959/pexels-photo-1199959.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
.storymaindiv h1 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2px;
}

.storycontent {
  padding: 20px 120px;
  text-align: center;
}
.storycontent h2 {
  margin: 4px;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
}
.storycontent p {
  margin: 4px;
  padding: 20px;
  font-weight: 500;
  color: rgb(84, 83, 83);
}

.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 84px;
}
.category-container {
  background-color: transparent;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  padding: 40px;
}
.category {
  background-color: white;
  font-size: 29px;
}
.category-heading {
  font-size: 18px;
}
.cat-container {
  margin: 20px 30px;
  overflow-y: hidden;
}

.cart-page {
  border: 0.5px solid rgb(208, 208, 208);
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  margin-right: 17px;
}

/* category styling */
.Category-container {
  margin-top: 17%;
  background-color: rgb(255, 255, 255);
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240px;
  text-align: left;
  padding: 34px;
}
.Category-container h2 {
  font-size: 2.1rem;
  padding: 12px 0px;
  color: #666;
}
.Category-container .cat-button {
  display: inline-block;
  padding: 0.1rem 2rem;
  width: 150px;
  border: 0.1rem solid #fac031;
  color: #fac031;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}
.Category-container .cat-button:active {
  background-color: #fac031;
  color: black;
}

.Menu-Searchbar {
  border: 1px solid rgb(172, 170, 170);
  padding: 10px;
  border-radius: 4px;
  width: 700px;
  background-color: transparent;
}
.Menu-Searchbar:active {
  background-color: white;
}
