@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.Header {
  height: 90px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0.5px 0.5px 1.5px grey;
}
.leftnav h3 {
  font-size: 18px;
  margin-left: 70px;
  text-transform: uppercase;
}

.navlinksBar {
  margin-right: 25px;
}
.navlinks {
  text-decoration: none;
  color: black;
  margin: 4px;
  padding: 8px;
  text-transform: uppercase;
  font-weight: lighter;
}
.rightdiv {
  margin-right: 60px;
}
.nav-icons {
  text-decoration: none;
  margin: 4px;
  padding: 4px;
  color: black;
  font-weight: 100;
}
